<div class="container">
    <div class="content" *ngIf="listStore.selectedUser as user">
        <div class="header">
            <div class="avatar">
                <img [ngSrc]="user.avatarUrl" [alt]="user.login" width="75" height="75">
            </div>

            <h3>{{ user.login }}</h3>
        </div>

        <ng-container *ngIf="user.repositories && user.repositories.length > 0">
            <h4>{{ user.repositories.length }} repositories</h4>

            <!-- Should componentize this but for sake of simplicity just render it here -->
            <ul>
                <li *ngFor="let repository of user.repositories">
                    <a [href]="'https://github.com/' + user.login + '/' + repository.name" target="_blank">
                        <span class="repo-title">
                            {{ repository.name }}
                            (<fa-icon [icon]="starIcon" size="xs"></fa-icon>{{ repository.stars }})
                        </span>
                    </a>

                    <p>{{ repository.description }}</p>

                    <span>Last update: {{ repository.updatedAt | date:'yyyy MM dd' }}</span>
                </li>
            </ul>
        </ng-container>

        <app-no-results *ngIf="!user.repositories || user.repositories.length === 0">
            User doesn't have repositories yet
        </app-no-results>
    </div>
    <footer>
        <button type="button" (click)="closeModal()">
            Close
        </button>
        <button type="button" class="primary" (click)="handleGoToGithubProfile()">
            Go to GitHub <fa-icon [icon]="githubIcon"></fa-icon>
        </button>
    </footer>
</div>
