:root {
    --accent-color: hsl(208, 49%, 50%);
    --accent-light-color: hsl(212, 68%, 39%);

    --background-color: hsl(0, 3%, 6%);
    --background-light-color: hsl(30, 4%, 11%);

    --text-color: hsl(55, 10%, 79%);
    --text-muted-color: hsl(43, 3%, 52%);
    --text-faint-color: hsl(45, 2%, 33%);

    --dark-color: hsl(30, 3%, 15%);
    --dark-medium-color: hsl(40, 3%, 20%);
    --dark-light-color: hsl(30, 3%, 24%);

    --font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif;
}
