button {
    width: 46px;
    height: 46px;

    border: 1px solid var(--dark-medium-color);
    border-radius: 8px;

    background-color: var(--dark-medium-color);

    color: var(--text-color);

    transition: all .2s;

    &:hover, &:active, &:focus {
        border-color: var(--accent-color);
    }

    &.selected {
        background-color: var(--accent-light-color);
    }
}
